<div class="mob-nav">
  <input class="burger-check" id="mobile-burger" type="checkbox">
  <label for="mobile-burger" class="burger"></label>

  <div class="slide-in-nav">
      <div class="container slide-in">
          <div class="row">
              <div class="col-xs-12 dropdown text-center nav-item">
                  <label for="drop1">Get Started<div class="arrow-down"></div></label>
                  <input class="burger-checkdropdown" id="drop1" type="checkbox" tabindex="0">
                  <div class="dropdown-content">
                      <a href="{{ site.baseurl }}/get-started/what-is-monero/">What is Monero</a>
                      <a href="{{ site.baseurl }}/get-started/accepting/">Accepting Monero</a>
                      <a href="{{ site.baseurl }}/get-started/contributing/">Contributing</a>
                      <a href="{{ site.baseurl }}/get-started/mining/">Mining</a>
                      <a href="{{ site.baseurl }}/get-started/faq/">FAQ</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 dropdown nav-item">
                  <a href="{{ site.baseurl }}/downloads/">Downloads</a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 dropdown nav-item">
                  <a href="{{ site.baseurl }}/blog/">Blog</a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 dropdown text-center nav-item">
                  <label for="drop2">Community<div class="arrow-down"></div></label>
                  <input class="burger-checkdropdown" id="drop2" type="checkbox" tabindex="0">
                  <div class="dropdown-content">
                      <a href="{{ site.baseurl }}/community/workgroups/">Workgroups</a>
                      <a href="{{ site.baseurl }}/community/hangouts/">Hangouts</a>
                      <a href="{{ site.baseurl }}/community/sponsorships/">Sponsorships</a>
                      <a href="{{ site.baseurl }}/community/merchants/">Merchants</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 dropdown text-center nav-item">
                  <label for="drop3">Resources<div class="arrow-down"></div></label>
                  <input class="burger-checkdropdown" id="drop3" type="checkbox" tabindex="0">
                  <div class="dropdown-content">
                      <a href="{{ site.baseurl }}/resources/about/">About</a>
                      <a href="{{ site.baseurl }}/resources/roadmap/">Roadmap</a>
                      <a href="{{ site.baseurl }}/resources/research-lab/">Research Lab</a>
                      <a href="{{ site.baseurl }}/resources/moneropedia/">Moneropedia</a>
                      <a href="{{ site.baseurl }}/resources/user-guides/">User Guides</a>
                      <a href="{{ site.baseurl }}/resources/developer-guides/">Developer Guides</a>
                      <a href="{{ site.baseurl }}/resources/tools/">Tools</a>
                      <a href="{{ site.baseurl }}/library/">Library</a>
                      <a href="{{ site.baseurl }}/press-kit/">Press Kit</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="text-center nav-item mob">
                      <a href="https://ccs.getmonero.org">Community Crowdfunding</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="text-center nav-item mob">
                      <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md">Vulnerability Response</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="text-center nav-item mob">
                      <a href="https://translate.getmonero.org">Translate</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="desktop-nav">
  <nav class="container">
      <div class="topnav">
          <div class="row middle-xs">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <a href="{{ site.baseurl_root }}/">
                      <img src="/img/monero-logo.png" width="500" height="135" alt="Monero Logo" class="monero-logo">
                  </a>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 topnav-list end-xs">
                  <div class="row end-xs middle-xs">
                      <div class="col-md-12">
                          <a href="https://ccs.getmonero.org" class="top-link">Community Crowdfunding</a>
                          <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md" class="top-link">Vulnerability Response</a>
                          <a href="https://translate.getmonero.org" class="top-link">Translate</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</div>
