<div class="upgrade-container">
    <input id="upgrade-toggle" type="checkbox">
    <div class="upgrade-content">
         <p>
             The X network will upgrade in October 2020. 
             <a href="{{ site.baseurl }}/2020/08/18/network-upgrade-october-2020.html">
                 Learn more about the network upgrade
             </a>.
             Ensure you have the latest software version.
             <a href="{{ site.baseurl }}/downloads/">
                 Download the latest software
             </a>.
             <label class="upgrade-x" for="upgrade-toggle"></label>
         </p>
    </div>
 </div>
 