---
layout: custom
---
 
{% assign filename = page.path | remove: '.md' | split: '/' | last %}

<div class="blog">
  <!-- Category selector: desktop -->
  <div class="container full">
      <div class="info-block blog-nav row">
          <div class="col"><a href="{{ site.baseurl }}/blog/">All Posts</a></div>
          <div class="col {% if filename == 'urgent' %}checked{% endif %}"><a href="{{ site.baseurl }}/blog/tags/urgent.html">Urgent</a></div>
          <div class="col {% if filename == 'releases' %}checked{% endif %}"><a href="{{ site.baseurl }}/blog/tags/releases.html">Releases</a></div>
          <div class="col {% if filename == 'community' %}checked{% endif %}"><a href="{{ site.baseurl }}/blog/tags/community.html">Community</a></div>
          <div class="col {% if filename == 'dev diaries' %}checked{% endif %}"><a href="{{ site.baseurl }}/blog/tags/dev%20diaries.html">Developer Diaries</a></div>
      </div>
  </div>
  <!-- End category selector: desktop -->

  <!-- Category selector: mobile -->
  <div class="container full">
      <div class="info-block row center-xs" id="pick-platform">
          <div class="mob dropdowndrop">
              <input id="filter" type="checkbox" name="category-filter"/>
              <label for="filter">Filter</label>
              <ul id="menu">
                  <li><a href="{{ site.baseurl }}/blog/">All Posts</a></li>
                  <li><a href="{{ site.baseurl }}/blog/tags/urgent.html">Urgent</a></li>
                  <li><a href="{{ site.baseurl }}/blog/tags/releases.html">Releases</a></li>
                  <li><a href="{{ site.baseurl }}/blog/tags/community.html">Community</a></li>
                  <li><a href="{{ site.baseurl }}/blog/tags/dev%20diaries.html">Developer Diaries</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!-- End category selector: mobile -->
</div>

<div class="site-wrap">
    <section class="container">
        <div class="row">
            <!-- left two-thirds block -->
            <div class="left two-thirds col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="info-block">
                    <div class="row center-xs">
                      <div class="page-title">
                        <h2 class="inline"><span class="kicks">{{ tag.name }}</span></h2>
                      </div>
                    </div>
                   {% if site.tags[tag.slug] %}
                     {% for post in site.tags[tag.slug] %}
                      <div class="post-lead">
                          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                          <p>{{ post.summary }}</p>
                          <p><small>Author: {{ post.author }} | {{ post.date | date: "%-d %B %Y" }}</small></p>
                      </div>
                     {% endfor %}
                   {% else %}
                    <h3>No posts found for this tag.</h3>
                   {% endif %}
                </div>
            </div>
            <!-- end left two-thirds block -->

            <!-- right one-third block -->
            <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar col-sm-12 col-xs-12">   
                    <div class="info-block">
                        <div class="row center-xs">
                            <div class="col"><h2>Recent Posts</h2></div>
                        </div>
                        {% for post in site.posts limit:4 %}
                        <div class="row start-xs info-block-row">
                            <div class="col">
                                 <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                             </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="info-block">
                        <div class="row center-xs">
                            <div class="col"><h2>Popular Tags</h2></div>
                        </div>
                        {% for site_tag in site.tags limit:6 %}
                        <div class="row start-xs">
                            <div class="col">
                                 <p><a href="/blog/tags/{{ site_tag[0] }}.html">{{ site_tag[0] }}</a></p>
                             </div>
                         </div>
                         {% endfor %}
                    </div>
                </div> 
            </div>
            <!-- end right one-third block -->
        </div>
    </section>
    <a href="#" class="arrow-up" aria-label="Go to top" title="Go to top"><i></i></a>
</div>
